.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.game-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playfield {
    border-spacing: unset;
    margin: 32px auto;
}

tr:first-child td {
    border-top: 20px solid #0000005c;
}

tr:last-child td {
    border-bottom: 20px solid #0000005c;
}

td {
    border: 10px solid #0000005c;
    width: 50px;
    height: 50px;
}

td:first-child {
    border-left: 20px solid #0000005c;
}

td:last-child {
    border-right: 20px solid #0000005c;
}

.red {
    background-color: rgba(255, 0, 0, 0.479) !important;
}

.red-top {
    border-top-color: #a51717 !important;
}
.red-right {
    border-right-color: #a51717 !important;
}
.red-bottom {
    border-bottom-color: #a51717 !important;
}
.red-left {
    border-left-color: #a51717 !important;
}

.blue-top {
    border-top-color: #1818a9 !important;
}
.blue-right {
    border-right-color: #1818a9 !important;
}
.blue-bottom {
    border-bottom-color: #1818a9 !important;
}
.blue-left {
    border-left-color: #1818a9 !important;
}

.blue {
    background-color: rgba(0, 0, 255, 0.486) !important;
}